---
layout: default 
title: Process & Pricing | Refined Island Creations
seo: 
 title: Our Process and Pricing
 description: Explore Refined Island Creations' website development process and pricing options for luxury hospitality businesses.
 keywords: 
 - Website Development Process
 - Pricing Options
 - Luxury Hospitality Web Solutions
 - Refined Island Creations Process
 - Web Design Pricing
 social_image: 
 hide-from-google: true
---

<!-------------Image Banner--------------->

<section class="bg-cover min-h-80 relative flex flex-col justify-center items-center" style="background-image:url(/images/website-design-process.png);background-position: 27% 50%;">
	
    <div class="p-5p text-center">
        <h1 class="uppercase font-syne font-bold text-4xl sm:text-[4rem] md:text-8xl text-center mb-8"> Process <br> & <br> Pricing </h1>
            
        <div class="text-center">
            <a href="#" class="cta text-base sm:text-2xl"> Book A Call Today! </a>
        </div>
    </div>

</section>

<!-------------Jump ahead--------------->

<div class="sm:grid sm:grid-cols-3">

    <div class="col-span-1"> </div>

    <div class="col-span-2 text-center sm:text-right p-5p font-inter mb-0 py-10p sm:py-0">
        <p> For those of you who would like to get straight to the point,<br> jump straight to our prices here: 
        <a href="#prices" class="font-syne font-medium text-xl sm:text-3xl inline-block mb-0 pt-5 sm:pt-0 border-b-2"> Our Prices </a> </p>
    </div>
</div>

<!-------------Image for below 640px width--------------->

<section class="bg-cover bg-center min-h-40 bg-fixed sm:hidden" style="background-image:url(/images/drone-reverse.png)">
  </section>

<!-------------Process Intro--------------->

<div class="sm:px-5p sm:pt-5p sm:pb-10p py-15p">
        <div>
            <h2 class="font-syne font-bold text-3xl sm:text-6xl uppercase text-center sm:text-left mb-0"> Our Process </h2>    
        </div>
</div>

<!-------------Process--------------->

<section class="sm:grid sm:grid-cols-5">

    <div class="bg-cover bg-center min-h-90 sm:col-span-2 hidden sm:block" style="background-image:url(/images/dark-leaves-brighter.png)">
    </div>

    <div class="sm:col-span-3 grid grid-cols-5">

        <div class="col-span-1 sm:mt-8">
            <p class="text-4xl sm:text-6xl text-center sm:text-left sm:-ml-[15%] font-inter font-semibold"> 1. </p>
        </div>

        <div class="col-span-4 sm:mr-10p sm:-ml-10p mb-8 pr-[3%] sm:pr-0">
            <h3 class="font-syne font-medium text-2xl sm:text-3xl"> Schedule a call with us! </h3>
            <p> During this consultation, we'll dive deep into understanding your needs and goals. We'll outline an approximate scope of work, laying the groundwork for your bespoke website. Your vision and aspirations form the core of this crucial step, ensuring a tailored solution that reflects your luxury property's unique essence. Let's begin crafting your digital sanctuary today. </p>
            <div class="my-4">
                <a href="#" class="cta"> Book A Call Today! </a>
            </div>
        </div>

        <div class="col-span-1 sm:mt-8">
            <p class="text-4xl sm:text-6xl text-center sm:text-left sm:-ml-[15%] font-inter font-semibold"> 2. </p>
        </div>

        <div class="col-span-4 sm:mr-10p sm:-ml-10p mb-8 pr-[3%] sm:pr-0">
            <h3 class="font-syne font-medium text-2xl sm:text-3xl"> Wireframe & Moodboard </h3>
            <p> Next, we'll craft a sitemap, wireframe, and mood board inspired by your vision. This visual blueprint will provide a preview of the design's look and feel, ensuring that we align with your brand identity and aspirations. </p>
        </div>

        <div class="col-span-1 sm:mt-8">
            <p class="text-4xl sm:text-6xl text-center sm:text-left sm:-ml-[15%] font-inter font-semibold"> 3. </p>
        </div>

        <div class="col-span-4 sm:mr-10p sm:-ml-10p mb-8 pr-[3%] sm:pr-0">
            <h3 class="font-syne font-medium text-2xl sm:text-3xl"> Website Design - Bringing Your Vision to Life </h3>
            <p> Our expert team will work diligently to design your website tailored to suit your brand and goals. With placeholder content and images, you'll witness the website's captivating essence come to life. </p>
        </div>

        <div class="col-span-1 sm:mt-8">
            <p class="text-4xl sm:text-6xl text-center sm:text-left sm:-ml-[15%] font-inter font-semibold"> 4. </p>
        </div>

        <div class="col-span-4 sm:mr-10p sm:-ml-10p mb-8 pr-[3%] sm:pr-0">
            <h3 class="font-syne font-medium text-2xl sm:text-3xl"> Coding Your Website - Making It Real </h3>
            <p> Once the design is approved, we'll begin building your website using HTML, CSS, jQuery & Jekyll, crafting a seamless digital experience. At this stage, you'll have the opportunity to review your website on a temporary domain for feedback. </p>
        </div>

        <div class="col-span-1 sm:mt-8">
            <p class="text-4xl sm:text-6xl text-center sm:text-left sm:-ml-[15%] font-inter font-semibold"> 5. </p>
        </div>

        <div class="col-span-4 sm:mr-10p sm:-ml-10p mb-8 pr-[3%] sm:pr-0">
            <h3 class="font-syne font-medium text-2xl sm:text-3xl"> Testing & Connect Live Domain - Your Website Goes Live </h3>
            <p> Before the grand reveal, we'll conduct performance tests, ensuring your website loads quickly and looks impressive across devices and browsers. Once the final touches are in place, we'll connect your domain, and your bespoke website will be ready for the world to experience. </p>
        </div>

    </div>

</section>


<!-------------Timeline--------------->

<section class="pb-10p sm:py-10p">

    <div class="text-center ">
        <p class="font-syne font-medium text-2xl sm:text-4xl mb-0"> Let's talk about timelines </p>
    </div>
     
</section>

<!--------------FAQ - timeline------------------>

<section>

    <div class="max-w-screen-xl mx-auto">

		{% include accordion-timeline.html %}

    </div>
</section>

<!-------------Future--------------->

<section class="py-10p">

    <div class="text-center ">
        <p class="font-syne font-medium text-2xl sm:text-4xl mb-0"> And what happens then? </p>
    </div>
     
</section>

<!--------------FAQ - future------------------>

<section class="pb-10p">

    <div class="max-w-screen-xl mx-auto">

		{% include accordion-customize.html %}

    </div>
</section>


<!-------------Image banner--------------->

<section class="bg-cover bg-center min-h-50 bg-fixed relative flex flex-col justify-center items-center" style="background-image:url(/images/shadow-blinder-light.png)">
    <div class="text-center">
      <p class="font-syne font-medium text-2xl sm:text-4xl p-5p"> We don't beat around the bush. <br> Here is a breakdown of our prices. </p>
    </div>
  </section>

<!-------------Prices--------------->
<section id="prices">
<div class="pt-10p pl-5p">
    <h2 class="font-syne font-bold text-3xl sm:text-6xl uppercase text-center sm:text-left mb-0"> Our Prices </h2>
</div>
</section>

<div class="sm:grid sm:grid-cols-5 p-5p">
    <div class="col-span-1 sm:border-r-2"> </div>
    <div class="col-span-4"> 
        <p class="px-5p text-center sm:text-left pt-5p sm:pt-0"> 
            Every business is unique, which is why we don't believe in cookie-cutter packages. Let's have a conversation about your specific needs and expectations so we can create a tailor-made package that perfectly suits your business. For an overview of what's possible, what's included, and the pricing range of our websites, please refer to the details below. 
        </p>
    </div>
</div>

<!--------------FAQ - investment------------------>

<section class="pb-5p mt-5p">

    <div class="max-w-screen-xl mx-auto">

		{% include accordion-investment.html %}

    </div>
</section>



<!-------------Basic Package--------------->

<section class="px-5p pt-10p sm:pt-5p pb-5p">

    <div class="xl:grid xl:grid-cols-6 xl:items-center">

        <img src="/images/paper1.png" alt="" class="col-span-4">

        <div class="col-span-2 px-5p">
            <h4 class="font-syne font-medium text-3xl mt-5p mb-10p sm:mb-5p text-center"> The Signature Website </h4>

            <h3 class="text-center"> What's included: </h3>
            <ul class="list-disc">
                <li class="ml-5p"> Custom website design reflecting your brand and preferences. </li>
                <li class="ml-5p"> Thoughtful UI & UX design considerations to optimise user experience. </li>
                <li class="ml-5p"> Detailed sitemap and wireframe of your website, allowing you to approve and collaborate at every step. </li>
                <li class="ml-5p"> Captivating homepage for a strong first impression. </li>
                <li class="ml-5p"> Rooms & Villa page with pictures and booking engine. </li>
                <li class="ml-5p"> Contact Us page with details and user-friendly form. </li>
                <li class="ml-5p"> Seamless social media integration. </li>
                <li class="ml-5p"> Mobile responsiveness for all devices. </li>
                <li class="ml-5p"> Basic SEO setup for better visibility. </li>
                <li class="ml-5p"> Alt-text for all images which enhances accessibility, boosts SEO and improves user experience. </li>
                <li class="ml-5p"> User-friendly Content Management System (CMS). </li>
                <li class="ml-5p"> Website analytics for valuable insights. </li>
            </ul>

            <h3 class="font-syne font-medium text-3xl mt-10p sm:mt-5p text-center"> Starting at 2.500USD* </h3>

        </div>



    </div>

</section>

<!------------Fast Lane Option with image on the right--------->

<section class="p-5p">

    <div class="xl:grid xl:grid-cols-6 xl:items-center">

        <img src="/images/art-paper.png" alt="" class="xl:hidden col-span-4">

        <div class="col-span-2 pr-5p">
            <h4 class="font-syne font-medium text-3xl mt-5p mb-10p sm:mb-5p text-center"> The Fast Lane Option </h4>

            <p class="text-center"> Get your custom website done in a flash! Our Fast Lane Option offers the same features as our Signature Website but delivered in a much quicker time frame, tailored to your specific needs and urgency. </p>
           
            <h3 class="font-syne font-medium text-3xl mt-10p sm:mt-5p text-center"> Starting at 5.000USD* </h3>

        </div>

        <img src="/images/art-paper.png" alt="" class="hidden xl:block col-span-4">

    </div>

</section>

<div class="px-5p text-center py-10p md:px-5p">
    <p> * Please note that our websites are tailored to your unique needs, and prices can vary based on specific requirements. <br> After a consultation call, we will provide you with a detailed and accurate quote for your project. </p>
</div>

<!-------------Better Package------

<section class="p-5p">

    <div class="sm:grid sm:grid-cols-6">

        <div class="col-span-2">
            <h4 class="font-syne font-medium text-3xl"> The Signature Website </h4>

            <h3> What's included: </h3>
            <ul class="list-disc">
                <li> All features from the Essential Website included </li>
                <li> Expanded page options for more content and offerings </li>
                <li> Advanced functionalities for enhanced user experience </li>
             

            </ul>

            <h3 class="font-syne font-medium text-3xl"> 3.500USD </h3>

        </div>

        <img src="/images/art-paper.png" alt="" class="col-span-4">

    </div>

</section>

--------->

<!-------------Fast Lane-------

<section class="p-5p">

    <div class="sm:grid sm:grid-cols-3">

        <img src="/images/paper1.png" alt="" class="col-span-2">

        <div class="col-span-1">
            <h4 class="font-syne font-medium text-3xl sm:-ml-[12%]"> The Fast Lane Option </h4>

            <p> Get your custom website done in a flash! Our Fast Lane Option offers the same features as our Essential and Signature Website Packages but delivered in a much quicker time frame, tailored to your specific needs and urgency. </p>

            <p> Starting from 5.000USD based on website complexity and urgency. </p>
           
            <h3 class="font-syne font-medium text-3xl"> 5.000USD </h3>

        </div>

    </div>

</section>

-------->


<!--------------FAQ - investment------------------>

<section class="py-5p">

    <div class="max-w-screen-xl mx-auto">

		{% include accordion-worth.html %}

    </div>
</section>


