<div class=" bg-agreen text-[#edf2f4]" x-data="{ selected: null }">
  <div class="relative">
      <button type="button" class="py-5p block w-full px-5p" 
              @click="selected = (selected !== 1) ? 1 : null">
          <div class="flex items-center justify-between">
              <h4 class="mb-0 font-syne text-2xl sm:text-3xl mr-5p"> "Why Should I Choose Refined Island Creations for <br> My Custom-Coded Website Over Other More Affordable Options?" </h4>
              <span x-text="selected === 1 ? '-' : '+'" class="text-4xl"></span>
          </div>
      </button>

      <div class="relative overflow-hidden transition-all duration-700" 
          x-cloak
          x-show="selected === 1"
          x-ref="container1">
          <div class="pb-6">


            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center mt-8"> <i class="fa-regular fa-star text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> We Embrace Your Uniqueness. </h4> 
                <p>
                  We take immense pride in recognizing the distinctive essence of each business we partner with. Our expertise lies in specializing specifically on luxury resorts and villas, ensuring that your website is a true reflection of your brand identity. With custom-coded websites tailored exclusively for you, we create a digital sanctuary that resonates with your guests, setting you apart in a sea of competitors.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-award text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> We Elevate Your Brand's Presence. </h4> 
                <p>
                  Unlike cheaper agencies that may rely on generic templates or drag-and-drop builders, our focus is on elevating your online presence to new heights. Through bespoke designs and seamless user experiences, we captivate your audience, leaving a lasting impression that entices them to choose your luxury property over others.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-palette text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> The Art of Cohesion. </h4> 
                <p>
                  We don't simply build websites; we craft digital masterpieces that exude the essence of your brand. Our dedication to designing cohesive websites ensures that every element, from visuals to content, harmoniously aligns with your brand identity, fostering trust and credibility among your guests.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-hand-holding-heart text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Personalized Care and Attention. </h4> 
                <p>
                  At Refined Island Creations, you're not just a client—you're a valued partner in our journey toward excellence. We prioritize meaningful connections and a personalized approach, taking the time to understand your unique needs and aspirations. Our team is dedicated to your success, providing the support and guidance you deserve every step of the way.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-earth-asia text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> A Future-Proof Investment. </h4> 
                <p>
                  While choosing a cheaper agency may seem tempting at first, our custom-coded websites offer a future-proof investment with exponential returns. The profitability of a bespoke website far surpasses any initial cost, attracting direct bookings, enhancing your brand reputation, and driving revenue growth.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-certificate text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Bespoke Solutions for Exceptional Results. </h4> 
                <p>
                  Our expertise lies in curating tailor-made websites that embody luxury, elegance, and sophistication. We understand that your property deserves nothing less than excellence, and that's precisely what we deliver with our custom-coded solutions.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-handshake text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Trust in Your Digital Partner. </h4> 
                <p>
                  When you partner with Refined Island Creations, you gain more than just a website—you gain a dedicated team committed to your success. We pour our heart and soul into every project, ensuring that your website stands as a testament to your property's uniqueness and unwavering commitment to excellence.
                </p>
              </div>
            </div>
              
              
          </div>
      </div>
  </div>
</div>
  
  