<div class=" bg-agreen text-[#edf2f4]" x-data="{ selected: null }">
  <div class="relative ">
      <button type="button" class="py-5p block w-full px-5p" 
              @click="selected = (selected !== 1) ? 1 : null">
          <div class="flex items-center justify-between">
              <h4 class="mb-0 font-syne text-2xl sm:text-3xl mr-5p"> "Why Choose a Website Over Relying Solely on Booking Platforms?" </h4>
              <span x-text="selected === 1 ? '-' : '+'" class="text-4xl"></span>
          </div>
      </button>

      <div class="relative overflow-hidden transition-all duration-700" 
          x-cloak
          x-show="selected === 1"
          x-ref="container1">
          <div class="pb-6">


            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center mt-8"> <i class="fa-solid fa-hand-scissors text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Break Free from Commission Constraints. </h4> 
                <p>
                  Booking platforms and travel agencies often charge hefty commissions for selling your rooms, denting your profits. Imagine retaining that revenue and directing it back into enhancing your guest experience. Our exclusive calculator demonstrates the remarkable savings you can achieve daily, weekly, monthly, and yearly by receiving bookings directly through your website.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-regular fa-star text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Showcase Your Unique Offering. </h4> 
                <p>
                  A personalized website is your canvas to artistically portray your property's distinct charm and allure. Stand out from the crowd and captivate your audience with an immersive digital experience that leaves a lasting impression. Share your property's story, amenities, and exclusive features, inviting guests to indulge in a truly remarkable stay.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-regular fa-handshake text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Building Trust and Credibility. </h4> 
                <p>
                  Having a dedicated website bolsters your credibility as a reputable luxury establishment. Potential guests often seek direct interactions with properties they are considering, and your website serves as a window into your world, fostering trust and confidence in their decision to choose your haven for their getaway.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-wand-magic-sparkles text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Seamless User Experience. </h4> 
                <p>
                  Your website serves as a digital concierge, offering a smooth and effortless booking journey for your guests. From intuitive navigation to mobile-responsive designs, every aspect is thoughtfully crafted to ensure your potential guests can access your property effortlessly, whether they're on their laptop or exploring on their smartphones.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-regular fa-circle-user text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Personalized Marketing and Guest Engagement. </h4> 
                <p>
                  With your website, you can harness the power of personalized marketing and tailor promotions directly to your guests. Offer special packages, loyalty programs, and incentives to entice repeat bookings and foster long-lasting relationships.
                </p>
              </div>
            </div>

              
          </div>
      </div>
  </div>
</div>
  
  