<div class="bg-[#697d6f] text-[#001410]" x-data="{ selected: null }">
  <div class="relative">
      <button type="button" class="py-3p block w-full px-5p" 
              @click="selected = (selected !== 1) ? 1 : null">
          <div class="flex items-center justify-between">
              <p class="mb-0 accordion-title text-left"> "Is Investing in a Custom-Coded Website Worth It for My Luxury Property?" </p>
              <span x-text="selected === 1 ? '-' : '+'" class="text-4xl"></span>
          </div>
      </button>

      <div class="relative overflow-hidden transition-all duration-700" 
          x-cloak
          x-show="selected === 1"
          x-ref="container1">
          <div class="pb-6">
              
            <div class="px-5p mb-8 text-center mt-8">
                <p class="font-bold text-l"> Investing in custom-coded websites may have a higher initial cost, but the returns are exceptional. </p>

                <p> Our websites act as powerful revenue generators for luxury properties by enhancing online presence, attracting potential guests with seamless user experiences, and maximizing revenue potential.
                </p>

                <p class="font-bold text-l"> The profitability of a custom-coded website exceeds the initial investment. </p>

                <p> Our tailored approach guarantees your property's distinction in the competitive hospitality industry, attracting discerning travelers seeking exceptional experiences. Your bespoke website will be a valuable asset, setting your luxury property apart from your competition, driving revenue growth, and captivating guests for years. </p>

            </div>
              
 
 

 


              



              
          </div>
      </div>
  </div>
</div>
  
  