<div class=" bg-[#697d6f] text-[#001410]" x-data="{ selected: null }">
  <div class="relative ">
      <button type="button" class="py-3p block w-full px-5p" 
              @click="selected = (selected !== 1) ? 1 : null">
          <div class="flex items-center justify-between">
              <p class="mb-0 accordion-title text-left"> "Why Should I Opt for a Tailor-Made, Custom-Coded Website Over Drag-and-Drop Builders Like WordPress or Squarespace?" </p>
              <span x-text="selected === 1 ? '-' : '+'" class="text-4xl"></span>
          </div>
      </button>

      <div class="relative overflow-hidden transition-all duration-700" 
          x-cloak
          x-show="selected === 1"
          x-ref="container1">
          <div class="pb-6">
              
            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center mt-8"> <i class="fa-solid fa-fingerprint text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-syne font-semibold text-xl mb-3p"> Unparalleled Customization. </p> 
                <p>
                  Drag-and-drop builders have limitations in creating a unique and cohesive website. Our custom-coded approach ensures a personalized online experience tailored to your specific needs.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-atom text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-syne font-semibold text-xl mb-3p"> Elevating UI and UX. </p> 
                <p>
                  The user interface and experience are important for engaging visitors. Drag-and-drop builders often limit creative options. Our custom-coded websites offer limitless creative possibilities, seamless navigation, and an immersive guest journey.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-ban text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-syne font-semibold text-xl mb-3p"> AVOID the Generic Look. </p> 
                <p>
                  Say goodbye to generic templates and drag-and-drop sites that cheapen your upscale property. Our custom-coded websites exude luxury and exclusivity, leaving a lasting impression on your audience.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-magnifying-glass-chart text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-syne font-semibold text-xl mb-3p"> Elevated SEO. </p> 
                <p>
                  Our coding practices follow search engine rules, giving your custom-coded website an advantage in search engine rankings and visibility.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-mobile-screen-button text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-syne font-semibold text-xl mb-3p"> Perfect on Any Device. </p> 
                <p>
                  We prioritize mobile responsiveness in today's digital world. While not all drag-and-drop builders provide seamless mobile experiences, we guarantee that our websites will appear flawless on all devices, captivating your audience no matter where they browse.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-virus-covid text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-syne font-semibold text-xl mb-3p"> A critical drawback of drag-and-drop websites lies in their vulnerability to hacking and malware infections. </p> 
                <p>
                  Many templates and frameworks created by developers lack ongoing maintenance, leading to outdated and vulnerable websites. Without vigilant developers, these sites become easy targets for hackers, risking sensitive guest data and credit card information. Moreover, the interconnectedness of websites using the same framework or template means that if one is hacked, others become susceptible to cyber threats as well. 
                </p>
              </div>
            </div>
              
          </div>
      </div>
  </div>
</div>
  
  