<div class=" bg-agreen text-[#edf2f4]" x-data="{ selected: null }">
  <div class="relative ">
      <button type="button" class="py-5p block w-full px-5p" 
              @click="selected = (selected !== 1) ? 1 : null">
          <div class="flex items-center justify-between">
              <h4 class="mb-0 font-syne text-2xl sm:text-3xl mr-5p"> "Will My Website Be Fully Responsive and <br> Function Seamlessly on All Devices?" </h4>
              <span x-text="selected === 1 ? '-' : '+'" class="text-4xl"></span>
          </div>
      </button>

      <div class="relative overflow-hidden transition-all duration-700" 
          x-cloak
          x-show="selected === 1"
          x-ref="container1">
          <div class="pb-6">

            <p class="px-5p mb-8 text-center mt-8"> At Refined Island Creations, we understand that the modern digital landscape demands an exceptional user experience, regardless of the device your guests use. That's why we prioritize the creation of websites that not only look stunning on laptops and desktops but also seamlessly adapt to every screen size, from smartphones to tablets. </p>


            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-mobile-screen-button text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Flawless Mobile Experience. </h4> 
                <p>
                  With mobile devices dominating how we explore the online world, a website that falls short on mobile responsiveness can deter potential guests from engaging with your property. Our expert team ensures that every element, from captivating images to engaging content, translates perfectly to smartphones, delivering an immersive experience that entices visitors to stay and explore.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-shoe-prints text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Intuitive Navigation on Every Device. </h4> 
                <p>
                  A responsive website isn't just about fitting content onto smaller screens. It's about crafting intuitive navigation that guides your guests effortlessly through your offerings. Our design expertise guarantees that your website retains its elegance and functionality, even on the smallest devices, leaving a lasting positive impression.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-panorama text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Dynamic Image Display. </h4> 
                <p>
                  With our custom website solutions, your property's visual allure shines through every pixel, whether your guests view it on a large desktop screen or a tiny smartphone display. Say goodbye to cut-off images or distorted visuals—your website will present your luxury haven in its full glory, enhancing your brand's credibility and captivating potential guests.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-chalkboard text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Optimal Readability and User Engagement. </h4> 
                <p>
                  Ensuring that your website's text is legible and proportionate on all devices is essential in holding your audience's attention. Our dedication to responsive design means that your content remains inviting and easy to read, empowering your guests to connect with your property's story effortlessly.
                </p>
              </div>
            </div>

              
          </div>
      </div>
  </div>
</div>
  
  