<div class=" bg-agreen text-[#edf2f4]" x-data="{ selected: null }">
  <div class="relative">
      <button type="button" class="py-5p block w-full px-5p" 
              @click="selected = (selected !== 1) ? 1 : null">
          <div class="flex items-center justify-between">
              <h4 class="mb-0 font-syne text-2xl sm:text-3xl mr-5p"> "Can I Customize My Website for Future Changes?" </h4>
              <span x-text="selected === 1 ? '-' : '+'" class="text-4xl"></span>
          </div>
      </button>

      <div class="relative overflow-hidden transition-all duration-700" 
          x-cloak
          x-show="selected === 1"
          x-ref="container1">
          <div class="pb-6">

              <p class="px-5p mb-8 text-center mt-8"> 
                At Refined Island Creations, we believe in providing you with complete control over your digital masterpiece. Our dedication to delivering a tailor-made, responsive, and uniquely branded website extends beyond the initial design phase.
              </p>

              <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
                <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-dumbbell text-4xl sm:text-5xl"></i> </div>
                <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                   
                  <h4 class="font-syne font-semibold text-xl"> Your Gateway to Empowerment. </h4> 
                  <p>
                    Once we've meticulously crafted your website to perfection, we'll introduce you to our user-friendly Content Management System (CMS). Through this intuitive platform, you'll have the power to make future updates and changes, putting you firmly in the driver's seat of your online presence.
                  </p>
                </div>
              </div>

              <div class="grid grid-cols-5 mb-8">
                <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-person-chalkboard text-4xl sm:text-5xl"></i> </div>
                <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                   
                  <h4 class="font-syne font-semibold text-xl"> Personalized Training for Your Team. </h4> 
                  <p>
                    To ensure seamless integration with the CMS, we'll arrange a Zoom call with you and your designated website caretakers. Via screenshare, we'll provide detailed guidance on using the CMS, empowering you to effortlessly manage and maintain your website.
                  </p>
                </div>
              </div>

              <div class="grid grid-cols-5 mb-8">
                <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-hand-holding-hand text-4xl sm:text-5xl"></i> </div>
                <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                   
                  <h4 class="font-syne font-semibold text-xl"> Flexibility to Suit Your Needs. </h4> 
                  <p>
                    We understand that every client's comfort level with website management may vary. Rest assured, we offer full customization options to align with your preferences. Whether you desire complete editability or prefer to limit changes to specific elements, we cater to your unique requirements.
                  </p>
                </div>
              </div>

              <div class="grid grid-cols-5 mb-8">
                <div class="col-span-1 flex items-center justify-center"> <i class="fa-regular fa-life-ring text-4xl sm:text-5xl"></i> </div>
                <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                   
                  <h4 class="font-syne font-semibold text-xl"> Ongoing Assistance and Support. </h4> 
                  <p>
                    Our commitment to your success doesn't end with the website handover. For additional peace of mind, we offer monthly maintenance options to assist you with ongoing changes and updates. Count on our dedicated support to keep your website running seamlessly and effectively.
                  </p>
                </div>
              </div>

              
          </div>
      </div>
  </div>
</div>
  
  