<div class=" bg-[#4A594E] text-[#EEE0CB]" x-data="{ selected: null }">
  <div class="relative">
      <button type="button" class="py-3p block w-full px-5p" 
              @click="selected = (selected !== 1) ? 1 : null">
          <div class="flex items-center justify-between">
              <h4 class="mb-0 text-[1.2rem] sm:text-[1.475rem] md:text-[1.575rem] mr-5p"> "How Will a Custom Website Enhance SEO and Elevate My Property's Search Engine Rankings?" </h4>
              <span x-text="selected === 1 ? '-' : '+'" class="text-4xl"></span>
          </div>
      </button>

      <div class="relative overflow-hidden transition-all duration-700" 
          x-cloak
          x-show="selected === 1"
          x-ref="container1">
          <div class="pb-6">


            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center mt-8"> <i class="fa-solid fa-bolt text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Lightning-Fast Loading Speed. </h4> 
                <p>
                  Our custom websites are meticulously designed to optimize loading times by removing unnecessary code. This ensures that when users search for luxury hotels or villas, your website loads quickly. Fast-loading pages improve search engine rankings, attract potential guests, and keep them engaged.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-wand-magic-sparkles text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Enhancing User Experience. </h4> 
                <p>
                  A responsive and user-friendly website boosts your search engine ranking. Our expertise in design ensures smooth navigation and optimal display on all devices, encouraging visitors to explore and stay longer. This positive user experience improves search engine favorability.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-scale-balanced text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Complying with Search Engine Algorithms. </h4> 
                <p>
                  Search engines use complex algorithms to rank websites based on user experience and performance. Drag-and-drop sites often struggle to meet these standards, but our custom-coded approach ensures your website aligns with these crucial metrics, boosting its visibility in search results.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-chalkboard-user text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Analyzing and Enhancing Performance. </h4> 
                <p>
                  Access to comprehensive data is crucial for SEO success. Our custom solutions seamlessly integrate with Google Analytics and other analytical tools, allowing you to analyze and improve website metrics. Gain valuable insights to continually enhance your website's performance and stay ahead of the competition.
                </p>
              </div>
            </div>
              
          </div>
      </div>
  </div>
</div>
  
  