<div class="bg-[#697d6f] text-[#EEE0CB]" x-data="{ selected: null }">
  <div class="relative">
      <button type="button" class="py-3p block w-full px-5p" 
              @click="selected = (selected !== 1) ? 1 : null">
          <div class="flex items-center justify-between">
              <p class="mb-0 accordion-title text-left"> "How Long Does It Take to Get My Custom Website Crafted by Refined Island Creations?" </p>
              <span x-text="selected === 1 ? '-' : '+'" class="text-4xl"></span>
          </div>
      </button>

      <div class="relative overflow-hidden transition-all duration-700" 
          x-cloak
          x-show="selected === 1"
          x-ref="container1">
          <div class="pb-6">

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex justify-center mt-8"> <i class="fa-solid fa-phone text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-syne font-semibold text-xl mb-3p"> Schedule a Free Consultation Call. </p> 
                <p class="pb-3p">
                  To accurately plan your timeline, we suggest scheduling a consultation call with our team. This will help us understand your business and create a website that reflects your brand essence.
                </p>
                <div class="flex justify-center">
                  <a href="#" class="cta-timel"> Book A Call Today! </a>
                </div>
              </div>
            </div>

            <div class="grid grid-cols-5 mb-8">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-timeline text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-syne font-semibold text-xl mb-3p"> Factors Influencing the Timeline. </p> 
                <p>
                  The complexity of your website, the availability of high-quality, cohesive pictures, and compelling copy can affect the timeline. Professional photo shoots and copywriting assistance are available upon request but will affect the website price.
                </p>
              </div>
            </div>

            <div class="grid grid-cols-5 mb-8">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-child-reaching text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-syne font-semibold text-xl mb-3p"> Tailored Attention for Every Client. </p> 
                <p>
                  At Refined Island Creations, we pride ourselves on creating unique custom websites that stand out from generic templates. To ensure personalized attention, we limit the number of clients we work with monthly. This ensures your project receives the time and focus it deserves.
                </p>
              </div>
            </div>

            <div class="grid grid-cols-5 mb-8">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-calendar-days text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-syne font-semibold text-xl mb-3p"> Plan Ahead for Exclusivity. </p> 
                <p>
                  Due to our commitment to excellence, we are fully booked until November 2023. If you want our team to design and build your website, make sure to secure your spot in our calendar by allowing enough time.
                </p>
              </div>
            </div>

            <div class="grid grid-cols-5 mb-8">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-gauge-simple-high text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <p class="font-syne font-semibold text-xl mb-3p"> Presenting "The Fast Lane Option". </p> 
                <p>
                  Introducing "The FastLane Option" - our exclusive service for time-conscious clients. This premium offering accelerates the website development process, delivering a tailor-made site of unparalleled quality and speed. Despite the higher investment, our unwavering commitment to excellence guarantees a bespoke digital masterpiece that surpasses expectations in both design and functionality.
                </p>
              </div>
            </div>

              
          </div>
      </div>
  </div>
</div>
  
  