<div class=" bg-[#4A594E] text-[#EEE0CB]" x-data="{ selected: null }">
  <div class="relative">
      <button type="button" class="py-3p block w-full px-5p" 
              @click="selected = (selected !== 1) ? 1 : null">
          <div class="flex items-center justify-between">
              <h4 class="mb-0 text-[1.2rem] sm:text-[1.475rem] md:text-[1.575rem] mr-5p"> "Why Should I Choose Refined Island Creations for <br> My Custom-Coded Website Over Other More Affordable Options?" </h4>
              <span x-text="selected === 1 ? '-' : '+'" class="text-4xl"></span>
          </div>
      </button>

      <div class="relative overflow-hidden transition-all duration-700" 
          x-cloak
          x-show="selected === 1"
          x-ref="container1">
          <div class="pb-6">


            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center mt-8"> <i class="fa-regular fa-star text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> We Embrace Your Uniqueness. </h4> 
                <p>
                  We take immense pride in recognizing the distinctive essence of each business we partner with. We specialize in luxury resorts and villas, creating custom-coded websites that reflect your brand identity and set you apart from competitors.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-award text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> We Elevate Your Brand's Presence. </h4> 
                <p>
                  Unlike cheaper agencies, our focus is on elevating your online presence with bespoke designs and seamless user experiences. We aim to captivate your audience and entice them to choose your luxury property over others.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-palette text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> The Art of Cohesion. </h4> 
                <p>
                  We don't simply build websites; we create digital masterpieces that embody your brand's essence. Our commitment to cohesive website design ensures that every aspect, from visuals to content, aligns seamlessly with your brand identity, building trust and credibility with your audience.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-hand-holding-heart text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Personalized Care and Attention. </h4> 
                <p>
                  At Refined Island Creations, we value our clients as trusted partners on our journey to excellence. We prioritize personalized connections, taking the time to understand your unique needs and aspirations. Our dedicated team is committed to your success, providing unwavering support and guidance throughout the entire journey.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-earth-asia text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> A Future-Proof Investment. </h4> 
                <p>
                  Choosing a cheaper agency may seem tempting, but our custom-coded websites are a future-proof investment with high returns. They attract direct bookings, enhance brand reputation, and drive revenue growth.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-certificate text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Bespoke Solutions for Exceptional Results. </h4> 
                <p>
                  We specialize in creating luxury websites that exude elegance and sophistication. Our tailor-made, custom-coded solutions deliver nothing less than excellence for your property.
                </p>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-5 mb-8 text-center sm:text-left">
              <div class="col-span-1 flex items-center justify-center"> <i class="fa-solid fa-handshake text-4xl sm:text-5xl"></i> </div>
              <div class="col-span-4 p-5p sm:p-0 sm:pr-5p">
                 
                <h4 class="font-syne font-semibold text-xl"> Trust in Your Digital Partner. </h4> 
                <p>
                  When you work with Refined Island Creations, you get more than just a website. Our dedicated team is committed to your success, putting our heart and soul into each project. We create websites that showcase your property's uniqueness and unwavering commitment to excellence.
                </p>
              </div>
            </div>
              
              
          </div>
      </div>
  </div>
</div>
  
  